{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Bienvenue sur ViewDrums.fr</h1>
    <p> Premiière plateforme collaborative pour les batteurs</p>
</div>

<div class="container">
<h2>Les nouveaux drummer</h2>
<div class="row flex">
    {% for drum in drums %}
        <div class="col-3">
            <div class="card">
            <div class="card-body">
            <h5 class="card-title">
                {{ drum.title }}
            </h5>
            <img src="{{ vich_uploader_asset(drum, 'imageFile')  }}" alt="card-img-top" style="width: 100%; height: auto; font-size: 20%" class="img-responsive">
            <a href="{{ path('drum.show', {id: drum.id, slug: drum.slug}) }}">En savoir plus</a>

            </div>
        </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}