{% extends 'base.html.twig' %}

{% block title 'Voir la liste des batteries' %}

{% block body %}
<div class="container mt-4">
    <h1>Tous les drummers</h1>
    <div class="row">
    {% for drum in drums %}
<div class="col-md-4">
    {% include ("drum/_drum.html.twig") %}
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {{ knp_pagination_render(drums) }}
</div>
{% endblock %}