{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1> {{ drum.title }}</h1>
    <p> {{ drum.description }}</p>
</div>
{% endblock %}

{% block title 'Voir la liste des batteries' %}